{% extends '/layoutVisitor.html.twig' %}

{% block content %}
    <section id="missions">
        <div class="container">

            <div class="title">
                <h1>Choisis ta mission!</h1>
            </div>

            <div class="row justify-content-center card-deck">
                {%  for mission in missions %}
                    <div class="col-lg-6 d-flex justify-content-center">

                        <div class="card m-4">
                            <a href="#"><img
                                        src="/assets/images/missions/{{ mission.image }}"
                                        class="card-img-top" alt="{{ mission.title }}"></a>
                            <div class="card-body">
                                <h5 class="card-title">{{ mission.title }}</h5>
                                <div class="row">
                                    <p class="card-text col">{{ mission.players }} </br> joueurs</p>
                                    <p class="card-text col"> Difficulté: </br>
                                        {% for i in 1..5 %}
                                            <i class="icon-star{{i > mission.level ? '-empty' }}"></i>
                                        {% endfor %}
                                    </p>
                                </div>
                                <a href="#" class="btn btn-success">Reserver</a>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
{% endblock content %}
