<div class="row justify-content-center text-center">
    <a class="btn btn-warning mb-3" href="/AdminMission/add" role="button">Ajoutez une nouvelle mission</a>
    <table class="table text-light">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Mission</th>
            <th scope="col">Niveau</th>
            <th scope="col">Nombre de joueurs</th>
            <th scope="col">Editer la mission</th>
            <th scope="col">Supprimer la mission</th>
        </tr>
        </thead>
        <tbody>
        {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td><a href="" class="text-warning">{{ mission.title }}</a></td>
                <td>{{ mission.level }}</td>
                <td>de {{ mission.minplayers }} à {{ mission.maxplayers }} joueurs</td>
                <td><a class="edit text-warning" href="/AdminMission/edit/{{ mission.id }}"><i class="fas fa-edit"></i></a></td>
                <td><a class="edit text-warning" href="/AdminMission/delete/{{ mission.id }}"><i class="far fa-trash-alt"></i></a></td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>