{% extends '/layoutVisitor.html.twig' %}

{% block content %}

    <div id="contactUs"  class="container">

        <section id="contactForm">

            {% if mailSent is not empty %}
                <div class="mailSent">{{ mailSent }}</div>
            {% endif %}
            {% if mailNotSent is not empty %}
                <div class="mailNotSent">{{ mailNotSent }}</div>
            {% endif %}
            <div class="justify-content-center d-flex flex-nowrap p-b-50">
                <img class="eventail-category" src="../assets/images/hire-japanese-culture.png" alt="éventail">
                <h2>Envoyez un message :</h2>
                <img class="eventail-category" src="../assets/images/hire-japanese-culture.png" alt="éventail">
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-12">
                    <form method="post" action="">
                        <div class="form-group">
                            <label for="lastName">Nom :</label>
                            {% if errors.lastName is defined %}
                                <div class="formErrors">{{ errors.lastName }}</div>
                            {% endif %}
                            <input type="text" name="lastName" class="form-control" id="lastName" value="{{ values.lastName }}" required>
                        </div>
                        <div class="form-group">
                            <label for="firstName">Prénom :</label>
                            {% if errors.firstName is defined %}
                                <div class="formErrors">{{ errors.firstName }}</div>
                            {% endif %}
                            <input type="text" name="firstName" class="form-control" id="firstName" value="{{ values.firstName }}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail :</label>
                            {% if errors.email is defined %}
                                <div class="formErrors">{{ errors.email }}</div>
                            {% endif %}
                            <input type="email" name="email" class="form-control" id="email" value="{{ values.email }}" required>
                        </div>
                        <div class="form-group">
                            <label for="message">Message :</label>
                            {% if errors.message is defined %}
                                <div class="formErrors">{{ errors.message }}</div>
                            {% endif %}
                            <textarea class="form-control" id="message" name="message" rows="10" required>{{ values.message }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-shinjuku">Envoyer</button>
                    </form>
                </div>
            </div>
        </section>

        <section id="adress">

            <h2>Où nous trouver?</h2>

            <div class="row">
                <div class="adresse col-lg-6">
                    <h3>ESC'APE </br></h3>
                    384 rue des Moulins</br>
                    45750 Saint Pryvé Saint Mesmin</br>
                    Tél. <span>06 58 78 61 73</span>
                </div>
                <div class="map col-lg-6 ">
                    <iframe src="https://www.openstreetmap.org/export/embed.html?bbox=1.8451237678527834%2C47.872244723522954%2C1.858566999435425%2C47.87869261274586&amp;layer=mapnik&amp;marker=47.87546876843124%2C1.851845383644104"></iframe>
                </div>
            </div>
        </section>

    </div>

{% endblock content %}